* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 12px;
  font-family: 'Kumbh Sans', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top, #6565e7, #af67e9) no-repeat;
  height: 145vh;
}

#main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  transform: translateY(40px);
  border-radius: 15px;
  padding: 0 1.2rem 3.25rem;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 10px 25px -5px black;
}

#illustration {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateY(-60px);
  height: 125px;
  margin-bottom: 10px;
}

#illustration #overflow-images {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#illustration #overflow-images #images-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#illustration #overflow-images #images-container #main-image {
  transform: translate(-15px, -15px);
  position: absolute;
  content: url(../images/illustration-woman-online-mobile.svg);
}

#illustration #overflow-images #images-container #main-image-shadow {
  transform: translate(0, 45px);
  content: url(../images/bg-pattern-mobile.svg);
}

#illustration #box-image {
  display: none;
}

#FAQ-section {
  color: #1d1e35;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  font-size: 0.9rem;
}

#FAQ-section #FAQ-title {
  text-align: center;
  color: #1d1e35;
  padding-bottom: 20px;
  font-size: 2rem;
}

#FAQ-section .FAQ-containers {
  display: grid;
  grid-template-columns: 97% auto;
  align-items: center;
  justify-content: start;
  border-bottom: 1px solid #e7e7e9;
  padding: 15px 0;
}

#FAQ-section .FAQ-containers .questions {
  padding-right: 20px;
  transition: all 0.3s;
}

#FAQ-section .FAQ-containers .FAQ-icons {
  width: 140%;
  transition: all 0.3s;
}

#FAQ-section .FAQ-containers .answers {
  transition: all 0.3s;
  max-height: 0;
  overflow: hidden;
}

footer {
  position: absolute;
  text-align: center;
  padding: 5px;
  font-size: 0.9rem;
  font-weight: 700;
  top: 135vh;
}

@media screen and (min-width: 768px) {
  body {
    height: 110vh;
  }
}

@media screen and (min-width: 768px) and (min-width: 1080px) {
  body {
    height: 100vh;
  }
}

@media screen and (min-width: 768px) {
  #main-container {
    flex-direction: row;
    padding: 0;
    height: 100vw;
    max-height: 450px;
    width: 90%;
    max-width: 850px;
    transform: translateY(0);
  }
  #illustration {
    height: 100%;
    width: 100%;
    margin-bottom: 0;
    transform: translateY(2vh);
  }
  #illustration #overflow-images {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  #illustration #overflow-images #images-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transform: translateX(-15%);
  }
  #illustration #overflow-images #images-container #main-image {
    position: absolute;
    width: 42vw;
    max-width: 400px;
    content: url(../images/illustration-woman-online-desktop.svg);
  }
  #illustration #overflow-images #images-container #main-image-shadow {
    position: absolute;
    width: 80vw;
    max-width: fit-content;
    transform: translate(-21.5vw, -8vw);
    content: url(../images/bg-pattern-desktop.svg);
  }
  #illustration #overflow-images #box-image {
    position: absolute;
    display: inline;
    width: 15vw;
    max-width: 160px;
    transform: translate(calc(-19vw), 26px);
  }
}

@media screen and (min-width: 768px) and (min-width: 1024px) {
  #illustration #overflow-images #box-image {
    transform: translate(calc(-20.2vw), 26px);
  }
}

@media screen and (min-width: 768px) and (min-width: 1075px) {
  #illustration #overflow-images #box-image {
    transform: translate(calc(-15.2vw), 26px);
  }
}

@media screen and (min-width: 768px) {
  #FAQ-section {
    overflow-y: auto;
    height: 100%;
    max-height: 450px;
    width: 100%;
    max-width: 335px;
    padding-right: 7vw;
  }
}

@media screen and (min-width: 768px) and (min-width: 1024px) {
  #FAQ-section {
    padding-right: 7vw;
  }
}

@media screen and (min-width: 768px) {
  #FAQ-section #FAQ-title {
    text-align: left;
    font-size: 2rem;
    padding: 20% 0 4%;
  }
  #FAQ-section #FAQ {
    padding-bottom: 30px;
  }
  #FAQ-section #FAQ .FAQ-containers {
    display: grid;
    grid-template-columns: 97% auto;
    padding: 15px 1% 15px 0;
    border-bottom: 1px solid #e7e7e9;
  }
  #FAQ-section #FAQ .FAQ-containers:hover {
    cursor: pointer;
  }
  #FAQ-section #FAQ .FAQ-containers:hover .questions {
    font-size: 0.95rem;
    color: #f47c57;
  }
  #FAQ-section #FAQ .FAQ-containers:hover .FAQ-icons {
    cursor: pointer;
    width: 160%;
    filter: drop-shadow(0 0 3px #f47c57);
  }
  footer {
    top: 103vh;
  }
}

@media screen and (min-width: 768px) and (min-width: 1080px) {
  footer {
    top: 94vh;
  }
}
/*# sourceMappingURL=main.css.map */